* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(38 141 213);
}

input.searchInput {
    width: 400px;
    height: 6px;
    border: none;
    border-radius: 5px 0px 0px 6px;
    background: white;
    font-size: 15px;
    padding: 22px;
}

button {
    border: none;
    padding: 15px;
    height: 50px;
    width: 91px;
    border-radius: 0px 5px 5px 0px;
    margin-left: 0px;
    background: #ba3597;
    color: white;
    cursor: pointer;
}

.search-and-input-wrapper {
    display: flex;
    width: 540px;
    margin: 0 auto;
}

.section {
    padding: 50px;
    width: 1140px;
}

/* for search and button end */

/* javascript areas start */
div#search-meal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.single-meal {
    padding: 15px;
    cursor: pointer;
}

.single-meal img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    color: rgb(255 253 253 / 82%);
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    height: 47px;
}

.singles {
    border: 1px solid #ffffff8f;
    border-radius: 10px;
    background: rgb(248 248 248 / 10%);
}

div#ingredient-wrapper img {
    width: 100%;
}

div#ingredient-wrapper {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.list {
    border: 1px solid #ffffff36;
    margin-bottom: 10px;
}

.list p {
    font-size: 16px;
    color: #fffcfcbf;
    font-family: arial;
    line-height: 30px;
    text-align: justify;
    margin-left: 10px;
}

h2.unique {
    font-size: 25px;
    color: #f6f6f6e0;
}